
.panelLayout.method-edit .primaryPanel .tabbedContent
{
	padding: 2px 0 0 10px;
}
.panelLayout .primaryPanel .tabbedContent
{
	position: absolute;
	bottom:49px;
	left:10px;
	right:10px;
	top:32px;
}
.panelLayout .primaryPanel .tabbedContent .content
{
	bottom:0px;
	left:0px;
	overflow:auto;
	right:0px;
	top:35px;
}
.ui-tabs .ui-tabs-nav li a
{
    padding: 0.2em 1em;
}
.tabbedContent .ui-tabs-nav li.ui-state-active a
{
	padding-bottom: 4px;
	position: relative;
	z-index: 5;
	background-color: #e8e8e8;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
    cursor: default;
}
.ui-tabs-nav.ui-widget-header
{
	background: none;
}
.tabbedContent,  
.ui-tabs-nav.ui-corner-all
{
	border: none;
}
.tabbedContent .tabs.ui-tabs-nav
{
	border-bottom: none;
}
.ui-tabs-nav li.ui-state-default
{
	background: #F4F3F3;
    padding: 4px;
}
#mainLeafContent .ui-tabs-nav li.ui-tabs-selected
{
	background: #E8E8E8;
}
.ui-widget, 
.tabbedContent.ui-widget
{
	font-size: 1em;
	font-family: Arial,Helvetica,sans-serif;
}
.tabbedContent.ui-widget input, 
.tabbedContent.ui-widget select, 
.tabbedContent.ui-widget textarea,
.tabbedContent.ui-widget button
{
	font-size: 1em;
	font-family: MS Shell Dlg, sans-serif;
}
.tabbedContent.ui-widget-content, 
.tabbedContent .ui-widget-content
{
	background: none;
}
.tabbedContent .ui-tabs-panel
{
	padding: 0;
}
